body {
    background-color: #1A1818;
    margin: 20px;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
}

.nav-list {
    list-style: none;
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-box {
    display: flex;
    gap: 68px;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    max-width: 1440px;
    margin: 0 auto;
}

.new-staff-btn {
    width: Fixed (155px)px;
    height: Fixed (46px)px;
    padding: 10px;
    gap: 10px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    background: #EA3800;
    text-align: center;
    text-decoration: none;
    color: white;
}

.list-item {
    text-decoration: none;
    color: white;
}

.list-item:hover {
    color: #FFDD00;
    text-decoration: underline;
}

.sborka1 {
    width: 320px;
    height: 580px;
    top: 579px;
    left: -2521px;
    padding: 15px 20px 15px 20px;
    gap: 28px;
    opacity: 0px;
    background-color: #2B2A2A;
    margin: 20px;
}

.sborka_details {
    text-decoration: none;
    color: white;
}

.sborka_title {
    width: 400px;
    height: 29px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: #FFFFFF;
}

.sborka_text {
    width: 317px;
    height: 42px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 21.09px;
    text-align: left;
    color: #FFFFFF;
}

.sborka_btn {
    width: Hug (129px)px;
    height: Hug (59px)px;
    padding: 15px 20px 15px 20px;
    gap: 0px;
    opacity: 0px;
    background: #23770E;
    color: #FFFFFF;
    border: none;
}

.sborki {
    display: flex;
}